p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  letter-spacing: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}

/* 
TASK 15 */

.one-room-for-two-adult {
  padding-top: 32px;
  padding-bottom: 32px;
  background: #fffdee;
}
.container-task-fiveteen {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.two-adult-text-non {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: #b4b4b4;
  margin-bottom: 8px;
}
.two-adult-logo {
  font-family: 'Film P3';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  color: #494848;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.two-adult-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 12px;
}
.two-adult-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #7a7a7a;
  max-width: 258px;
  margin-bottom: 32px;
}

.two-adult-list-img {
  position: relative;
  right: 130px;
  list-style: none;
  display: flex;
  gap: 16px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.two-adult-item-img {
}

.two-adult-item-btn {
}

.two-adult-room-img {
  max-width: 244px;
  margin-left: auto;
  margin-bottom: 32px;
  background: #dadada;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.two-adult-slider-img {
  max-width: 194px;
  background: #dadada;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.two-adult-list-slider {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.two-adult-item-slider {
}
.two-adult-left-btn {
  background-color: transparent;
  border: none;
}
.two-adult-right-btn {
  background-color: transparent;
  border: none;
}

.two-adult-btn-box {
}

.two-adult-list-btn {
  list-style: none;

  text-align: center;
  justify-content: center;
}

.two-adult-item-btn {
  width: 236px;
  height: 48px;
  background: #000000;
  border: 2px solid #fffdee;
  border-radius: 25px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  justify-content: center;
  padding-top: 14px;
  padding-bottom: 14px;
}

.two-adult-item-btn:not(:last-child) {
  margin-bottom: 16px;
}

.two-adult-link {
  text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 25;
  letter-spacing: 0.02em;
  color: #f3c653;
}

.two-adult-btn {
  background: inherit;
  border: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 25;
  letter-spacing: 0.02em;
  color: #f3c653;
}

@media screen and (min-width: 414px) {
  .container-task-fiveteen {
    width: 414px;
  }
}

@media screen and (min-width: 1024px) {
  .container-task-fiveteen {
    width: 960px;
    position: relative;
  }

  .one-room-for-two-adult {
    padding-top: 64px;
    padding-bottom: 104px;
  }

  .two-adult-text-non {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.16;
    margin-bottom: 4px;
  }

  .two-adult-logo {
    font-size: 64px;
    line-height: 1.08;
    letter-spacing: 0.3em;
    margin-bottom: 62px;
  }

  .two-adult-title {
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 16px;
  }

  .two-adult-text {
    font-size: 16px;
    line-height: 1.25;
    max-width: 439px;
    max-height: 80px;
    margin-bottom: 174px;
  }

  .two-adult-list-img {
    display: flex;
    gap: 40px;
    margin-left: auto;
  }

  .two-adult-room-img {
    position: absolute;
    max-width: 400px;
    margin: 0;
    right: 80px;
    top: -96px;
  }

  .two-adult-img-btn-box {
    display: flex;
    text-align: center;
    justify-content:space-between;
  }

  .two-adult-list-btn {
position: relative;
top: 40px;
  
}
}

@media screen and (min-width: 1023px) and (max-width: 1279px) {
  .two-adult-list-slider {
  display: none;
}
}
